AITLibrary/Web References/LoginValidationWSIntegration/LoginValidationWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="passwordFormatValidation">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="passwordFormatValidationResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="passwordFormatValidationResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="passwordFormatValidationSoapIn">
    <wsdl:part name="parameters" element="tns:passwordFormatValidation" />
  </wsdl:message>
  <wsdl:message name="passwordFormatValidationSoapOut">
    <wsdl:part name="parameters" element="tns:passwordFormatValidationResponse" />
  </wsdl:message>
  <wsdl:portType name="LoginValidationWSSoap">
    <wsdl:operation name="passwordFormatValidation">
      <wsdl:input message="tns:passwordFormatValidationSoapIn" />
      <wsdl:output message="tns:passwordFormatValidationSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="LoginValidationWSSoap" type="tns:LoginValidationWSSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="passwordFormatValidation">
      <soap:operation soapAction="http://tempuri.org/passwordFormatValidation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="LoginValidationWSSoap12" type="tns:LoginValidationWSSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="passwordFormatValidation">
      <soap12:operation soapAction="http://tempuri.org/passwordFormatValidation" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="LoginValidationWS">
    <wsdl:port name="LoginValidationWSSoap" binding="tns:LoginValidationWSSoap">
      <soap:address location="http://localhost/LoginValidationWS.asmx" />
    </wsdl:port>
    <wsdl:port name="LoginValidationWSSoap12" binding="tns:LoginValidationWSSoap12">
      <soap12:address location="http://localhost/LoginValidationWS.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>