AITLibrary/Web References/AuthorWSIntegration/AuthorWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="insertAuthor">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="authorName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="insertAuthorResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="insertAuthorResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SelectCountAuthorByName">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="authorName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SelectCountAuthorByNameResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SelectCountAuthorByNameResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteAuthor">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="authorId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteAuthorResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="DeleteAuthorResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="updateAuthor">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="authorName" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="authorId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="updateAuthorResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="updateAuthorResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllAuthors">
        <s:complexType />
      </s:element>
      <s:element name="GetAllAuthorsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllAuthorsResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="insertAuthorSoapIn">
    <wsdl:part name="parameters" element="tns:insertAuthor" />
  </wsdl:message>
  <wsdl:message name="insertAuthorSoapOut">
    <wsdl:part name="parameters" element="tns:insertAuthorResponse" />
  </wsdl:message>
  <wsdl:message name="SelectCountAuthorByNameSoapIn">
    <wsdl:part name="parameters" element="tns:SelectCountAuthorByName" />
  </wsdl:message>
  <wsdl:message name="SelectCountAuthorByNameSoapOut">
    <wsdl:part name="parameters" element="tns:SelectCountAuthorByNameResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteAuthorSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteAuthor" />
  </wsdl:message>
  <wsdl:message name="DeleteAuthorSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteAuthorResponse" />
  </wsdl:message>
  <wsdl:message name="updateAuthorSoapIn">
    <wsdl:part name="parameters" element="tns:updateAuthor" />
  </wsdl:message>
  <wsdl:message name="updateAuthorSoapOut">
    <wsdl:part name="parameters" element="tns:updateAuthorResponse" />
  </wsdl:message>
  <wsdl:message name="GetAllAuthorsSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllAuthors" />
  </wsdl:message>
  <wsdl:message name="GetAllAuthorsSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllAuthorsResponse" />
  </wsdl:message>
  <wsdl:portType name="AuthorWSSoap">
    <wsdl:operation name="insertAuthor">
      <wsdl:input message="tns:insertAuthorSoapIn" />
      <wsdl:output message="tns:insertAuthorSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SelectCountAuthorByName">
      <wsdl:input message="tns:SelectCountAuthorByNameSoapIn" />
      <wsdl:output message="tns:SelectCountAuthorByNameSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteAuthor">
      <wsdl:input message="tns:DeleteAuthorSoapIn" />
      <wsdl:output message="tns:DeleteAuthorSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="updateAuthor">
      <wsdl:input message="tns:updateAuthorSoapIn" />
      <wsdl:output message="tns:updateAuthorSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllAuthors">
      <wsdl:input message="tns:GetAllAuthorsSoapIn" />
      <wsdl:output message="tns:GetAllAuthorsSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AuthorWSSoap" type="tns:AuthorWSSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="insertAuthor">
      <soap:operation soapAction="http://tempuri.org/insertAuthor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectCountAuthorByName">
      <soap:operation soapAction="http://tempuri.org/SelectCountAuthorByName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteAuthor">
      <soap:operation soapAction="http://tempuri.org/DeleteAuthor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateAuthor">
      <soap:operation soapAction="http://tempuri.org/updateAuthor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllAuthors">
      <soap:operation soapAction="http://tempuri.org/GetAllAuthors" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="AuthorWSSoap12" type="tns:AuthorWSSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="insertAuthor">
      <soap12:operation soapAction="http://tempuri.org/insertAuthor" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectCountAuthorByName">
      <soap12:operation soapAction="http://tempuri.org/SelectCountAuthorByName" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteAuthor">
      <soap12:operation soapAction="http://tempuri.org/DeleteAuthor" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateAuthor">
      <soap12:operation soapAction="http://tempuri.org/updateAuthor" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllAuthors">
      <soap12:operation soapAction="http://tempuri.org/GetAllAuthors" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AuthorWS">
    <wsdl:port name="AuthorWSSoap" binding="tns:AuthorWSSoap">
      <soap:address location="http://localhost/AuthorWS.asmx" />
    </wsdl:port>
    <wsdl:port name="AuthorWSSoap12" binding="tns:AuthorWSSoap12">
      <soap12:address location="http://localhost/AuthorWS.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>